[submodule "ensia96"]
	path = ensia96
	url = https://github.com/ensia96/ensia96
[submodule "GuideToLife"]
	path = GuideToLife
	url = https://github.com/ensia96/GuideToLife
[submodule "ensia96.github.io"]
	path = ensia96.github.io
	url = https://github.com/ensia96/ensia96.github.io.git
[submodule "Python/Python/Django/aiffel_test"]
	path = Python/Python/Django/aiffel_test
	url = https://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@github.com/ensia96/aiffel_test.git
